.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #85144B;
  height: 150px;
  padding: 20px;
  color: white;
  
}

.App-title {
  font-size: 50px;
 font-family: MonteBold;
 color: white;
}

.App-intro {
  color: black;
  font-family: Monte;
  font-size: 25px;
}

.text-left{
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@font-face {
  font-family: 'Monte';
  font-weight: 500;
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MonteBold';
  font-weight: 500;
  src: url('../fonts/Montserrat-Bold.ttf');
}